*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  line-height: 1.5;

  --clr-darkpurple: #24053e;
  --clr-davy-gray: #584d62;
  --clr-green: #44ffa1;
  --clr-ghost-white: #fcf8ff;
  --clr-white: #fff;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;
}
body {
  font-family: 'Manrope', sans-serif;
  font-weight: var(--fw-regular);
  color: var(--clr-white);
}
img {
  display: block;
  object-fit: cover;
  width: 20rem;
}

.hero-section {
  background-color: var(--clr-ghost-white);
  position: relative;
  z-index: 0;
}
.hero-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 120%;
  height: 110%;
  transform: translateX(-50%);
  background-color: var(--clr-ghost-white);
  z-index: -2;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}
.blue-background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  height: 50%;
  background-color: var(--clr-darkpurple);
  z-index: -1;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}

.hero-spring-left {
  position: absolute;
  top: 10%;
  left: -8%;
  width: 27rem;
}
.hero-spring-right {
  position: absolute;
  top: 28%;
  right: -3%;
  width: 14rem;
}

.hero-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0 auto;
  gap: 3rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 4rem 2rem;
}
nav img,
footer img {
  width: 9.5rem;
}
nav a:visited,
nav a:link {
  display: inline-block;
  color: var(--clr-white);
  font-size: 1.8rem;
  border-bottom: 3px solid var(--clr-green);
  text-decoration: none;
}
.hero-section h1 {
  font-size: 8rem;
  line-height: 1.2;
  font-family: 'Fraunces', serif;
  text-align: center;
}
.hero-section h1 span {
  border-bottom: 3px solid var(--clr-green);
}
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
  color: var(--clr-darkpurple);
  background-color: var(--clr-green);
  text-decoration: none;
}
.img-phone {
  width: 76.7rem;
  margin-bottom: 5rem;
}
.actions-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.action-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--clr-darkpurple);
  padding: 1rem;
  gap: 4rem;
  text-align: center;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Fraunces', serif;
  width: 5.6rem;
  height: 5.6rem;
  font-size: 2.4rem;
  border: 2px solid var(--clr-darkpurple);
  border-radius: 50%;
}
.content-heading {
  font-size: 3.2rem;
  font-family: 'Fraunces', serif;
}
.content-text {
  font-size: 1.8rem;
}

.founder-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 0 auto;
  margin-top: 40rem;
}
.founder-section-content-container {
  background-color: var(--clr-darkpurple);
  flex: 0 1 73rem;
  padding: 4rem;
  position: relative;
}

.founder-section-content-container h2 {
  font-size: 5.6rem;
  font-family: 'Fraunces', serif;
  margin-bottom: 4rem;
}
.founder-section-content-container p {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}

.founder-container img {
  position: absolute;
  top: -15rem;
  left: -35rem;
  z-index: -1;
  width: 45rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  /* border: 1px solid red; */
  margin: 10rem auto;
}
.social-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social-media-wrapper img {
  width: 2rem;
}
@media screen and (max-width: 768px) {
  .hero-flex-container,
  .actions-container,
  .founder-container,
  .footer-container {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .blue-background {
    height: 35%;
  }
  .hero-section h1 {
    font-size: 6rem;
  }
  .img-phone {
    width: 51rem;
  }
  .actions-container {
    flex-direction: column;
    padding: 3rem;
  }
  .action-container {
    flex-direction: row;
    text-align: left;
  }
  .founder-section-content-container {
    max-width: 75%;
  }
  .founder-container img {
    position: absolute;
    top: -15rem;
    left: -15rem;
    z-index: -1;
    width: 26rem;
  }
}

@media screen and (max-width: 375px) {
  .hero-flex-container,
  .actions-container,
  .founder-container,
  .footer-container {
    margin-left: 0;
    margin-right: 0;
  }
  .blue-background {
    height: 30%;
  }
  .hero-section::after {
    height: 105%;
  }
  .hero-spring-left,
  .hero-spring-right {
    visibility: hidden;
  }
  .hero-section h1 {
    font-size: 4rem;
  }
  .img-phone {
    margin-top: 5rem;
    width: 32rem;
  }
  .actions-container {
    flex-direction: column;
    padding: 3rem;
  }
  .action-container {
    flex-direction: column;
    text-align: center;
  }
  .founder-section-content-container {
    max-width: 100%;
    text-align: center;
  }
  .founder-section-content-container h2 {
    font-size: 3.2rem;
  }
  .founder-container img {
    position: absolute;
    top: -30rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    width: 34rem;
  }
}
